<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ANPR</title>
	{% load static %}
    <link rel="stylesheet" href="{% static 'css/upload.css' %}"">
  </head>
  <body>
    <h1>Number Plate Detection</h1>
<form action="{% url 'homepage'%}" enctype="multipart/form-data" method="POST" role="form">
<div class="container">
  <p>Upload your image</p>
  {% csrf_token %}
  {{form.as_p}}
  <br>
    <button type="submit"  name="submit">Submit</button>
</div>
  </body>
</html>
